/* Application */
.root {
    -fx-base: #303030;
}

.tree-view, .tree-cell {
    -fx-background-color: #303030;
    -fx-text-fill: white;
}

.tree-cell:selected {
    -fx-background-color: #404040;
}

/* RichTextArea */
.styled-text-area {
    -fx-background-color: #505050;
}

.styled-text-area .text {
    -fx-fill: white;
}

/* text selection */
.paragraph-box:has-caret {
    -fx-background-color: #606060;
}

/* Editor Contents */
.styled-text-area .syntax-keyword {
    -fx-fill: chocolate;
}

.styled-text-area .syntax-instruction {
    -fx-fill: orange;
}

.styled-text-area .syntax-descriptor {
    -fx-font-weight: bold;
}

.styled-text-area .syntax-comment {
    -fx-fill: lightslategray;
}

.styled-text-area .syntax-label {
    -fx-fill: darkgoldenrod;
}

.styled-text-area .syntax-number-literal {
    -fx-fill: deepskyblue;
}

.styled-text-area .syntax-string-literal {
    -fx-fill: aqua;
}
