.syntax-keyword {
    -fx-fill: purple;
    -fx-font-weight: bold;
}

.syntax-instruction {
    -fx-fill: purple;
}

.syntax-descriptor {
    -fx-font-weight: bold;
}

.syntax-number-literal {
    -fx-fill: orange;
}

.syntax-comment {
    -fx-fill: cadetblue;
}

.syntax-label {
    -fx-fill: #bba0c0;
}

.syntax-string-literal {
    -fx-fill: blue;
}

.paragraph-box:has-caret {
    -fx-background-color: #f2f9fc;
}